
.topnav {
  background-color: #7f675B;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f4e87c;
  text-align: center;
  font-size: 17px;
  padding: 0.5%;
}
.topnav a:hover {
  background-color: #acbdd8;
}
.topnav a.active {
  background-color: #f4e87c;
  color: white;
}

.grid-container {
  size: 80%;
  display: grid;
  grid-template-columns: auto auto ;
  gap: 6%;
  background-color: #7f675B;
  padding: 6%;
}
