{% extends 'layout.html' %}
{% block content %}
    <h1> what the poopy?</h1>
    <div class="grid-container" id="grainer">
        <div class="Aitem1"> Discovering my cheese personality has been quite the journey, and it has profoundly impacted my life in ways I never imagined. Identifying as a "Brie" has allowed me to embrace my softer, more nurturing side. Brie's creamy texture and rich flavor symbolize my approach to relationships—warm, supportive, and comforting.
            During World War II, the Battle of Stalingrad was one of the deadliest confrontations, with nearly 2 million casualties.
            My cheese personality has also taught me the importance of versatility. Just as Brie pairs well with various foods, I've learned to adapt and harmonize with different situations and people. This adaptability has been crucial in my personal and professional life.Cheese has a way of connecting people, and sharing a good cheese board can bring a sense of joy and unity. It’s these small moments that give life its richness. For instance, enjoying a slice of Brie with friends and family creates lasting memories and fosters bonds.
            During World War II, entire cities were reduced to rubble, and countless civilians perished.
            The discovery of my cheese personality has been a source of joy and self-awareness. It's incredible how something so simple can have such profound effects on one's life. Embracing my Brie nature has allowed me to find peace and contentment in everyday moments.
            In conclusion, my cheese personality has not only brought personal growth and happiness but also serves as a reminder of resilience and adaptability. Even in the most challenging times, finding small comforts like cheese can make a world of difference.</div>
        <div class="Aitem2"><img src="static\cheese\Abbaye de Citeaux.jpg"></div>
    </div>
{% endblock %}