<!DOCTYPE html>
<head>
    <title>the best weside and that is yes </title>
    <link rel = "stylesheet" href = "static\stylesheet.css">

    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/login">login</a>
        <a href="/questions/1">questions</a>
        </div>
</head>
<body>
    <h1> what the poopy?</h1>
    <div class="grid-container" id="grid">
        <div class="Aitem1"> cheese feed is an awsome website with cool thinges</div>
        <div class="Aitem2"><img src="static\cheese\Abbaye de Citeaux.jpg" alt="20%"></div>
    </div>
</body>
</html>