{% extends 'layout.html' %}
{% block content %}
  <h1>{{q[0]}}</h1>  
  <a href="{{idd}}">yes</a>
  <a href="{{idd}}">no</a>
  <a href="{{idd}}">maybe</a>
{% endblock %}


<!--<form> https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_type_radio
  <input type="radio" id="a1" name="a1" value="1">
  <label for="a1">no</label><br>
  <input type="radio" id="a2" name="a2" value="2">
  <label for="a2"> yes</label><br>  
  <input type="radio" id="a3" name="a3" value="3">
  <label for="a3">hmabuger</label><br><br>
  <input type="submit" value="Submit">
</form> -->