{% extends 'layout.html' %}
{% block content %}
        <script type = "text/javascript">
            window.onload = function() {
                const ting = document.getElementById("not_wrong")
                ting.onclick = function(event) {
                    fetch("/process/not_wrong/{{current}}", {
                        method: "GET" })
                const ting = document.getElementById("wrong")
                ting.onclick = function(event) {
                    fetch("/process/wrong/{{current}}", {
                        method: "GET" })
                }}}
                </script>
{% for qu in q%}
<h1>{{qu}}</h1>  
{% endfor %}
<a> yes</a>
<a> no </a>
<a> hmaburger</a>
{% endblock %}