{% extends 'layout.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1> Sign Up</h1>
    <!-- this is the form for the sign up page -->
    <form action="{{ url_for('signupConfirm') }}" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required maxlength="15">
        <br>
        <label for="password1">Password:</label>
        <input type="password" id="password1" name="password1" required maxlength="15">
        <br>
        <label for="password2">Confirm Password:</label>
        <input type="password" id="password2" name="password2" required maxlength="15">
        <br>
        {% if usernameFailed %}  
        <!-- if the user allready exist it will retun this error -->
            <p style="color: red;">Username already exists.</p>
        {% endif %}
        <!-- if the passwords do not match it will return this error -->
        {% if passwordFailed %}
            <p style="color: red;">Passwords do not match.</p>
        {% endif %}
        <button type="submit">Sign Up</button>
    </form>
    
</body>
</html>
{% endblock %}