{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1> Sign Up</h1>
    
    <form action="{{ url_for('signupConfirm') }}" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required maxlength="15">
        <br>
        <label for="password1">Password:</label>
        <input type="password" id="password1" name="password1" required maxlength="15">
        <br>
        <label for="password2">Confirm Password:</label>
        <input type="password" id="password2" name="password2" required maxlength="15">
        <br>
        {% if usernameFailed %}
            <p style="color: red;">Username already exists.</p>
        {% endif %}
        {% if passwordFailed %}
            <p style="color: red;">Passwords do not match.</p>
        {% endif %}
        <button type="submit">Sign Up</button>
    </form>
    
</body>
</html>
{% endblock %}